<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="regapp_show">
  <div class="row">
    <div class="col-md-8">
      <div class="body">
        <%= @regapp.name %><br>
         <!-- | <%= link_to "", user_regapp_path(@regapp.user, @regapp), class: 'glyphicon glyphicon-remove', method: :delete %> -->
        <%= link_to @regapp.url, "#{@regapp.url}" %><br>
        tracking since <%= @regapp.created_at.strftime('%A')%>, <%= @regapp.created_at.strftime('%B')%> <%= @regapp.created_at.strftime('%-d')%>, <%= @regapp.created_at.strftime('%Y')%></p><br>

        Analytics:

        <% @events.each do |event| %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <ul>
                  <li><strong><%= event.name %></strong>: <%=  @regapp.events.group(:name).count %></li>
                </ul>

                <%= pie_chart @regapp.events.group(:name).count %>
                
              </h4>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
