<div class="regapp_show">
  <div class="row">
    <div class="col-md-8">
      <div class="body">
        <%= @regapp.name %><br>
         <!-- | <%= link_to "", user_regapp_path(@regapp.user, @regapp), class: 'glyphicon glyphicon-remove', method: :delete %> -->
        <%= link_to @regapp.url, "http://#{@regapp.url}" %><br>
        tracking since <%= @regapp.created_at.strftime('%A')%>, <%= @regapp.created_at.strftime('%B')%> <%= @regapp.created_at.strftime('%-d')%>, <%= @regapp.created_at.strftime('%Y')%></p><br>
        <%= pluralize(@regapp.events.count, 'application events')%> currently tracked: (NB: the <strong>group</strong> method in <strong>regapps_controller</strong> gets rid of event duplicates, ergo: the event count and the # of visible events may differ)
        <%= render partial: 'events/event', collection: @events %><br>

    </div>
  </div>
</div>
