<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="regapp_show">
  <div class="row">
    <div class="col-md-8">
      <div class="body">
        <%= @regapp.name %><br>
         <!-- | <%= link_to "", user_regapp_path(@regapp.user, @regapp), class: 'glyphicon glyphicon-remove', method: :delete %> -->
        <%= link_to @regapp.url, "#{@regapp.url}" %><br>
        tracking since <%= @regapp.created_at.strftime('%A')%>, <%= @regapp.created_at.strftime('%B')%> <%= @regapp.created_at.strftime('%-d')%>, <%= @regapp.created_at.strftime('%Y')%></p><br>

        Analytics:


          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <ul>
                  <% [] << @regapp.events(:name).sort %>
                  <%= [][0] %>
                  <%= [][1] %>
                  <%= [][2] %>
                  <%= [][3] %>
                  <%= [][4] %>
                  <%= [][5] %>
                  <%= [][6] %>


                  <li><strong><%= @regapp.events.uniq.count %></strong></li>
                  <li><strong><%= @regapp.events[0].name %></strong>: <%= @regapp.events.where(name: "#{@regapp.events[0].name}").count %></li>
                  <li><strong><%= @regapp.events[3].name %></strong>: <%= @regapp.events.where(name: "#{@regapp.events[3].name}").count %></li>
                  <li><strong><%= @regapp.events[4].name %></strong>: <%= @regapp.events.where(name: "#{@regapp.events[4].name}").count %></li>
                </ul>

                <%= pie_chart @regapp.events.group(:name).count %>

              </h4>
            </div>
          </div>
    </div>
  </div>
</div>
